head {
font-family: 'Indie Flower', cursive;

}

body {

  .carousel{
    width:50%;
    max-height: 400px;
  }

  .column{
    width: 800px;
    margin:0 auto;
  }

  .left {
    float: left;
    width: 400px;
  }

  .right {
    float: right;
    width: 400px;
  }
